body{
	background-color:#E0ECF8;
	background-image: url('../images/fondo2.jpg');
	font-family: 'Tahoma';
	background-repeat:no-repeat;
	background-position:center top; 
}

#contenedor { 
	background-color:#CED8F6; 
	border-style:solid; 
	border-color:#000000; 
	margin: 0 auto;
	width:570px; 
	height:auto; 
}

.busca_vue {
	background-color:#F2F2F2; 
	border-color:#EEE000;
	margin: 25 0 10 0;
}	

.boton{
	text-align:center;
}

.nombreItem {
    display: inline-block;
    width: 175px;
}

.error {
	color: red;
}

#tarjetas, #bancos, #cia_emisora, #formas_pago,
#servicios, #nro_tarj, #nro_ident, #nro_cuenta,
#efect, #dialogBuscarAeropuerto{
	display: none;
}

table, tr, td {
	border-style: solid; 
	border-collapse:  collapse;
	border-width: 1px;
}

td {
	width: 10px;
	height: 10px;
}