body{
	background-color:#E0ECF8;
	font-family: 'Tahoma'
}

#contenedor { 
	background-color:#CED8F6; 
	border-style:solid; 
	border-color:#000000; 
	margin: 0 auto;
	width:570px; 
	height:auto; 
}

.busca_vue {
	background-color:#F2F2F2; 
	border-color:#EEE000;
	margin: 25 0 10 0;
}	

.boton{
	text-align:center;
}

.nombreItem {
    display: inline-block;
    width: 175px;
}

.error {
	color: red;
}

#tarjetas, #bancos, #cia_emisora, #formas_pago,
#servicios, #nro_tarj, #nro_ident, #nro_cuenta,
#efect {
	display: none;
}